
.remove{
    transform: translateX(-1000%);
    transition: all ease 0.7s;
}

.info{
    font-size: 15px;
    color: red;
}
.play-again{
    display: none;
    cursor: pointer;
}

audio{
   transform: translateX(-1000%);
}





